<% provide(:title, 'MENU') %>

	<table id="AddDelete">
		<tr>
			<td><input id="AddMenu" type="button" name="add" value="ADD MENU"/></td>
			<td><input id="DeleteMenu" type="button" name="new" value="DELETE MENU"/></td>
		</tr>
	</table>

			<ol id="mainMenu">
				<li id="id1" class="ol_menuRow">
					<ol class="submenu" id="listid1">
						<li class="menuRow">
							<p class="menuName">NOODLES</p>
							<input class="addSubmenu" type="button" name="add" value="+"/>
							<input class="editMenu" type="button" name="edit" value="EDIT"/>
						</li>
						<ol class="ol_submenuRow">
							<li id="id2" class="submenuRow">
								<input class="editsubMenu" type="button" name="edit" value="EDIT" />
								<img class="menuImage" src="/assets/PadThai.jpeg" />
								<div class='gradient'>
									<p class="submenuName">Pad Thai</p>
									<p class="price">$5.50</p>
								</div>
							</li>
							<li id="id3" class="submenuRow">
								
								<input class="editsubMenu" type="button" name="edit" value="EDIT" />
								<img class="menuImage" src="/assets/ramen.jpeg" />
								<div class='gradient'>
									<p class="submenuName">Ramen</p>
									<p class="price">$6.50</p>
								</div>
							</li>
						</ol>
					</ol>
				</li>
				<li id="id4" class="ol_menuRow">
					<ol class="submenu" id="listid4">
						<li class="menuRow">
							<p class="menuName">FRIED RICE</p>
							<input class="addSubmenu" type="button" name="add" value="+"/>
							<input class="editMenu" type="button" name="edit" value="EDIT"/>
						</li>
						<ol class="ol_submenuRow">
							<li id="id5" class="submenuRow">
								<input class="editsubMenu" type="button" name="edit" value="EDIT" />
								<img class="menuImage" src="/assets/friedRice.jpeg" />
								<div class='gradient'>
									<p class="submenuName">Chicken Fried Rice</p>
									<p class="price">$5.00</p>
								</div>
							</li>
					</ol>
				</li>
			</ol>