body{
	font-family: Helvetica Neue UltraLight, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.mainFrame{
	height: 480px; /*700*/
	width: 320px; /*400*/
	border: 1px solid black;
	margin:10px;
	overflow: scroll;
	background-color: ##E5E3DF;
}

.topName{
	height: 60px;
	background-color: #E04E5F;
	text-align: center;
}
#menu-icon {
	font-size: 40px;
	color: white;
	margin: 0px;	
	float: left;
}
#title{
	font-size: 40px;
	color: white;
	margin: 0px;
	margin-top: 10px;
	height: 100px;
	margin-left:-30px;
}

#AddDelete input{
	width:156px;
	height: 30px;
	border-radius: 0px;
	box-shadow: none;
	background-color: #584E95;
	font-size: 14px;
	color: white;
	padding: 0px;
}

#mainMenu .ui-selected{
	background-color: black;
}
#mainMenu{
	list-style-type: none;
	width: 320px;
	margin:0px;
	padding:0px;
}
.menuRow{
	background-color: #A6A4A1;
	height:35px;
	width:320px;
	margin-bottom: 1px;
	margin-top: 1px;
}
.submenuRow{
	background-color: #E5E3DF;
	height:70px;
	width:320px;
	margin-top:1px;
	margin-bottom:2px;
}

.menuName{
	height:20px;
	width:150px;
	float:left;
	/*padding:5px;*/
	font-size: 15px;
	display: inline-block;
	margin:8px;
}
.submenuName{
	height:20px;
	width:150px;
	float:left;
	/*padding:5px;*/
	font-size: 15px;
	display: inline-block;
	margin:0px;
}
.addSubmenu{
	width:15px;
	height:15px;
	border-radius: 3px;
	box-shadow: none;
	background-color: #00A19B;
	color:white;
	float:right;
	display: inline-block;
	cursor: pointer;
	margin:3px;
	font-size: 8px;
}

.editMenu{
	width:30px;
	height:15px;
	border-radius: 3px;
	box-shadow: none;
	background-color: #00A19B;
	color:white;
	float:right;
	display: inline-block;
	cursor: pointer;
	margin:3px;
	font-size: 8px;
}

.editSubmenu{
	width:30px;
	height:15px;
	border-radius: 3px;
	box-shadow: none;
	background-color: #00A19B;
	color:white;
	float:right,top;
	font-size: 8px;
}
.textBox{
	height: 15px;
	width: 150px;
	margin: 8px;
}
.selected{
	background-color:black;
}











