<% provide(:title, 'REVIEWS') %>

<input id="seeMenu" type="button" value="SEE ALL MENU   &#x25BC;"/>
<table id="AddDelete">
	<tr>
		<td><input id="recent" type="button" name="add" value="MOST RECENT"/></td>
		<td><input id="useful" type="button" name="new" value="MOST USEFUL"/></td>
	</tr>
</table>

<ol id="commentsFrame">
	<li id="0" class="list">
		<img class="userImg" src="/assets/Icons_12.gif" />
		<p class="userComments">Pad Thai is the best!</p>
		<div class='div_likeContainer'>
			<p class="likeCount">0</p>
			<img class="likeImg" src="/assets/likeButton.jpeg"/>
			<input class="replyButton" type="button" value="REPLY"/>
		</div>
		<p class="userName">Bill  4/4/14</p>
	</li>
	<li id="1" class="list">
		<img class="userImg" src="/assets/Icons_12.gif" />
		<p class="userComments">I wish Pad Se Ew was available as well</p>
		<div class='div_likeContainer'>
			<p class="likeCount">7</p>
			<img class="likeImg" src="/assets/likeButton.jpeg"/>
			<input class="replyButton" type="button" value="REPLY"/>
		</div>
		<p class="userName">Ashley  4/8/14</p>
	</li>
</ol>
