<div class='instruction'>
	Select Duration for Analysis
</div>

<div class="k-content calendar">            
    <div id="special-days">
        <div id="calendar"></div>
    </div>            
</div>

<div class="button">
	<button>DONE</button>
</div>

<div id="example" class="k-content hidden">
	<div class="chart-wrapper">
		<div id="chart"></div>
	</div>
</div>

<table class = "result hidden">
	<tr>
		<td>1</td>
		<td>Pad Thai</td>
		<td>$5000 (50%) </td>
		<td>1000 items </td>
	</tr>
	<tr>
		<td>2</td>
		<td>Pad See Ew</td>
		<td>$4000 (40%) </td>
		<td>1000 items </td>
	</tr>
	<tr>
		<td>3</td>
		<td>Ramen</td>
		<td>$1000 (10%) </td>
		<td>200 items </td>
	</tr>
	<tr>
		<td></td>
		<td>Total</td>
		<td>$10,000 (100%)</td>
		<td>2,200 items </td>
	</tr>
</table>

<div class = "calendar_bottom hidden">
	<span class = "calendar_instruction hidden">Select Another Date</span>
	<img class = "calendar_icon hidden" src = "events-calendar-icon.png" />
</div>
